.header__lang-link {
    font-family: "Inter", "Arial ", sans-serif;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding-left: 18px;
    z-index: 1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;  
}
.header__lang-link:first-child{
    padding-left: 0;
}
