.header__lang-link {
    width: 30px;
    height: 28px;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding-left: 18px;
    margin: 0;
    z-index: 1;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;  
}
.header__lang-link:hover{
    text-decoration: underline;
    color: white;
}
