.place__grid{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    max-width: 484px;
}
@media screen and (max-width:580px) {
    .place__grid{
        width: 90%;
    }
}
@media screen and (max-width:768px) {
    .place__grid{
        display: grid;
        row-gap: 25px;
    }
}
@media screen and (max-width:320px) {
    .place__grid{
        display: flex;
        flex-direction: column;
        margin: auto;
    }

}