.place__grid{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
}
@media screen and (max-width:768px) {
    .place__grid{
        display: grid;
        row-gap: 25px;
        width: 90%;
    }
}
@media screen and (max-width:320px) {
    .place__grid{
        display: flex;
        flex-direction: column;
    }

}