.photo-grid {
    margin: 92px auto 92px;
    display: grid;
    gap: 16px 16px;
    grid-template-columns: repeat(auto-fit, 284px);
    max-width: 1184px;
}
@media screen and (max-width:1024px) {
    .photo-grid{
        max-width: 928px;
        margin-bottom: 92px;
        padding: 0;
        gap: 14px 14px;
        grid-template-columns: repeat(auto-fit, 300px);
    }
}
@media screen and (max-width:768px) {
    .photo-grid{
        width: 720px;
        margin: 82px 24px 88px 24px;
        grid-template-columns: repeat(auto-fit, 352px);
        grid: 16px 16px;
    }
}
@media screen and (max-width:320px) {
    .photo-grid{
        width: 288px;
        flex-direction: column;
        margin: 0;
        grid-row:12px;
        padding-top: 64px;
    }
}