.places {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 0 auto 148px auto;
}
@media screen and (max-width:1024px) {
    .places{
        max-width: 928px;
        margin: 0 auto 48px auto;
    }
}
@media screen and (max-width:768px) {
    .places{
        max-width: 720px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:320px) {
    .places{
        width: 320px;
        margin-top: 66px;

    }
    
}