.places {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 0 auto 92px auto;
}
@media screen and (max-width:1024px) {
    .places{
        /*width: 91%;*/
        max-width: 928px;
        margin: 0 auto 44px auto;
    }
}
@media screen and (max-width:768px) {
    .places{
        max-width: 720px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:580px) {
    .places{
        width: 100%;
        margin-top: 63px;
    }
}

@media screen and (max-width:324px) {
    .places{
        margin: 63px auto;
        max-width: 320px;
        padding-top: 63px;
        margin: 0;
    }

}