.places {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 0 auto 148px auto;
}
@media screen and (max-width:1024px) {
    .places{
        max-width: 928px;
        margin: 0 auto 48px auto;
    }
}
@media screen and (max-width:768px) {
    .places{
        max-width: 720px;
        height: 2808px;
    }
}
