.place__image {
    display: grid;
    max-width: 460px;
    grid-row: 2/3;
    overflow: hidden;
}
@media screen and (max-width:768px) {
    .place__image{
        max-width: 340px;
        min-height: 340px;
        align-self: start;    
    }
}
@media screen and (max-width:580px) {
    .place__image{
        grid-row: 3;
        max-width: 340px;
    }
}
@media screen and (max-width:320px) {
    .place__image{
       max-width: 320px;
       max-height: 320px;
    }  
}
