.place__image {
    grid-row-start: 2;
    grid-row-end: 4;
    height: 460px;
}
@media screen and (max-width:1024px){
    .place__image{
        max-width: 440px;
        height: 440px;
    }
}
@media screen and (max-width:768px) {
    .place__image{
        width: 340px;
        height: 340px;
    }
}
