.lead { 
    max-width:984px;
    margin:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width:1024px) {
    .lead{
        margin: 48px 48px 92px 48px;
    }
}
@media screen and (max-width:768px){
    .lead{
        margin-top: 48px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 88px;
        max-width: 768px;

    }
}
@media screen and (max-width:320px){
    .lead{
        max-width: 320px;
        margin:48px 2px 64px 2px;
    }
}