.cover__subtitle {
    font-family: "Inter", "Arial ", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 360px;
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width:320px) {
    .cover__subtitle{
        max-width: 288px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        margin: 16px auto 17px;
    }
}