.cover__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 360px;
    min-width: 288px;
    margin: 0;
    -webkit-font-smoothing: antialiased; 
    -webkit-font-smoothing: antialiased; 
}