.lead__vector{
    position: absolute;
    z-index: 20;
    padding: 90px 24px 262px 22px;
}
@media screen and (max-width:1024px) {
    .lead__vector{
        width: 883.76px;
        height: 248.02px;
        padding: 85,07px 22,3px 246,9px 21,95px;
    }
}
@media screen and (max-width:768px){
    .lead__vector{        
        width: 731.38px;
        height: 205.26px;
        
    }
}
@media screen and (max-width:320px){
    .lead__vector{
        width: 304.74px;
        height: 85.53px;
        padding: 29,34px 7,69px 85,14px 7,57px;
    }
}