.place__grid-paragraph {
    font-family: "Inter", "Arial ", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    margin-top: 25px;
    padding: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;  
}
.place__grid-paragraph:first-child{
    margin-top: 0;
}
@media screen and (max-width:768px) {
    .place__grid-paragraph{
        font-size: 16px;
        line-height: 163%;
        font-style: normal;
        margin: 0 auto;

    }   
}
@media screen and (max-width:320px) {
    .place__grid-paragraph{
        font-weight: 400;
        min-width: 288px;
    }
}