
.lead__vector-img{
    width: 883.76px;
    height: 248.02px;
}
@media screen and (max-width:1024px) {
    .lead__vector-img{
        width: 883.76px;
        height: 248.02px;
    }
}
@media screen and (max-width:768px) { 
    .lead__vector-img{        
        width: 731.38px;
        height: 205.26px;
    }
}
@media screen and (max-width:320px) {
    .lead__vector-img{
        width: 304.74px;
        height: 85.53px;
        
    }
}