.header__logo {
    max-width: 176px;
    max-height: 52px;
    font-family: "Inter", "Arial ", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}
@media screen and (max-width:320px) {
    .header__logo{
        max-width: 142px;
        max-height: 42px;
        display: flex;
    }
    
}