.header {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    margin: 0 auto;
    max-width: 1184px;
    z-index: 10;
}
@media screen and (max-width:1024px) {
    .header{
        max-width: 928px;
        padding-top: 28px;
    }
}
@media screen and (max-width:980px) {
    .header {
        max-width: 90%;
    }

}
@media screen and (max-width:768px) {
    .header{
        max-width: 720px;
        margin: 0 24px;
    }
}
@media screen and (max-width:320px) {
    .header{
        max-width: 288px;
        padding: 16px 16px 0px 16px;
        min-height: 42px;
    }
}