.content {
    margin-top: 56px;
 }
 @media screen and(max-width:1024px) {
     .content{
         padding-top: 48px;
     }  
 }
 @media screen and (max-width:320px) {
     .content{ 
      height: 10299px;
      background-color: #2A2C2F;;   
      
     }
 }