.content {
    margin-top: 56px;
 }
 @media screen and (max-width:1024px) {
     .content{
         margin-top: 48px;
     }  
 }
 @media screen and (max-width:320px) {
     .content{ 
      background-color: #2A2C2F;   
      margin-top: 48px;
      padding: 0;
      
     }
 }