.footer__link {
    font-family: "Inter", "Arial ", sans-serif;
    margin-left: 18px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.footer__link:first-child {
    margin:0;
}
.footer__link:hover {
    opacity: 0.8;
    color: white;
}
@media screen and (max-width:1024px){
    .footer__link {    
        margin-bottom: 32px;
    }
}
@media screen and (max-width: 580px) {
    .footer__link{
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        margin-left: 0;
    }
    .footer__link:first-child {
        margin-bottom: 32px;
    }
    .footer__link:last-child{
        margin-bottom: 0;
    }  
    
}
@media screen and (max-width:320px){
    .footer__link{
        padding-left: 16px;
    }
   
}
