.footer__copyright {
    font-family: "Inter", "Arial ", sans-serif;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing:antialiased;
}
@media screen and (max-width:1184px) {
    .footer__copyright{
        max-width: 186px;
    }
}
@media screen and (max-width:320px){
    .footer__copyright{
        display: flex;
        justify-content: flex-start;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
    }
}
