.footer__copyright {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing:antialiased;
}
@media screen and (max-width:1184px) {
    .footer__copyright{
        height: 640px;
    }
}
@media screen and (max-width:320px){
    .footer__copyright{
        display: flex;
        justify-content: flex-start;
        max-height: 14px;
        
    }
}
