.intro__text {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    padding-bottom: 33px;
    -webkit-font-smoothing:antialiased; 
    -moz-osx-font-smoothing: grayscale; 

}