.intro {
    max-width: 690px;
    height: 429px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 148px;
    padding-top: 92px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}
@media screen and (max-width:1024px){
    .intro{
        padding-left: 48px;
    }
}
@media screen and (max-width:768px) {
    .intro{
        max-width: 720px;
        height: 429px;
        padding-left: 24px;
    }
}
@media screen and (max-width:320px) {
    .intro{
        max-width: 288px;
        height: 754px;
    }
     
}