.intro {
    color: white;
    max-width: 984px;
    padding: 0;
    margin: 92px auto 0;   
}
@media screen and (max-width:1024px){
    .intro{
        max-width: 928px;
    }
}
@media screen and (max-width:768px) {
    .intro{
        max-width: 768px;
        margin-left: 24px;
    }
}
@media screen and (max-width:320px) {
    .intro{
        max-width: 320px;
        margin: 0  16px auto;
    }
     
}