.cover {
    max-width: 1184px;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
    margin: 0 auto;
}
@media screen and (max-width:1024px) {
    .cover{
        padding: 0;
        max-width: 1024px;
        min-height: 640px;
    }
}
@media screen and (max-width:768px){
    .cover{
        max-width: 768px;
        min-height: 480px;
        
    }
}
@media screen and (max-width: 580px){
    .cover{
        min-height: 200px;
        max-width: 578px;
    }
}

@media screen and (max-width:320px){
    .cover{
        min-height: 200px;
        max-width: 320px;
        margin-top: 61px;
    }
}