.cover {
    max-width: 1184px;
    height: 740px;
    padding-top: 92px;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
}
@media screen and (max-width:1024px) {
    .cover{
        padding: 0;
        max-width: 1024px;
    }
}
@media screen and (max-width:768px){
    .cover{
        max-width: 768px;
    }
}
@media screen and (max-width:320px){
    .cover{
        height: 200px;
        max-width: 320px;
    }
}