.cover {
    padding-top: 92px;
    padding-left: 48px;
    padding-right: 48px;
}
@media screen and (max-width:1024px) {
    .cover{
        padding: 0;
        max-width: 1024px;
        max-height: 640px;
    }
}
@media screen and (max-width:768px){
    .cover{
        max-width: 768px;
        max-height: 480px;
    }
}
@media screen and (max-width:320px){
    .cover{
        max-width: 320px;
        max-height: 200px;
    }
}