.place__link {
    font-family: "Inter", "Arial ", sans-serif;
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.place__link:hover{
    text-decoration-line: underline;
    opacity: 0.8;
}