.place__link {
    font-family: "Inter", "Arial ", sans-serif;
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid white;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none;
    margin-top: 7px;
    display: inline-block;
}

