.footer__item{
    display: flex;
    justify-content: space-between;
    
}
@media screen and (max-width:320px) {
    .footer__item{
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 48px;
        background-color: #2A2C2F;
    }
}