.cover__title { 
    font-weight: 900;
    font-size: 72px;
    line-height: 76px; 
    text-align: center;
    margin-bottom: 32px;
    max-width: 560px;
    min-width: 288px;
}
@media screen and (max-width:320px){
    .cover__title{
        max-width: 288px;
        max-height: 70px;
        padding-bottom: 16px;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px;
        text-align: center;
    }
}