.place {
    max-width: 984px;
    max-height: 660px;
    margin: 0 auto 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 40px;
} 
.place:last-child{
    margin-bottom: 0;
}
@media screen and (max-width:1024px) {
    .place{
        max-width: 928px;
        gap: 48px 32px;
    }  
    .place:last-child{
        margin-bottom: 0;
    } 
}
@media screen and (max-width:768px){
    .place{
        width: 720px;
        
    }
}
@media screen and (max-width:320px) {
    .place{
        display: flex;
        flex-direction: column;
        max-width: 320px;
        padding-bottom:50px ;
      
    }
}
