.place {
   max-width: 984px;
    max-height: 660px;
    margin: 0 auto 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 40px;
    /*max-width: 984px;
    display: grid;
    grid-template-columns: fit-content(460px) 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: 48px 40px;
    margin-top: 80px;*/
} 
.place:last-child{
    margin-top: 0;
}
@media screen and (max-width:1024px) {
    .place{
       max-width: 928px;
        gap: 48px 32px;
        /*grid-template-columns: fit-content(440px) 1fr;
        gap: 48px 30px;*/
    }  
    .place:last-child{
        margin-bottom: 0;
    } 
}
@media screen and (max-width:768px){
    .place{
       width: 720px;
       /*grid-template-columns: fit-content(340px) 1fr;
        gap: 48px 28px;*/
        
    }
}
@media screen and (max-width:320px) {
    .place{
       display: flex;
        flex-direction: column;
        max-width: 320px;
        padding-bottom:50px ;
      
      /*grid-template-columns:  1fr;
      row-gap: 32px;
      margin-top: 50px;
      justify-items: center;*/
    }
}
