.footer {
    padding-top: 92px;
    display: flex;
    flex-direction: row;
    max-width: 1184px;
    min-height: 18px;
    padding-bottom: 24px;
    margin: 0 auto;
    justify-content: space-between;
}
@media screen and (max-width:1024px) {
    .footer{
        max-width: 928px;
    }
}
@media screen and (max-width:768px) {
    .footer{
        max-width: 720px;
        padding: 88px 24px 24px 24px;
        background-color: #2A2C2F;
        min-height: 18px;
    }
}
@media screen and (max-width:320px){
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 64px 118px 24px 16px;
        max-width: 186px;
        min-height: 310px;
        background-color: #2A2C2F; 
    }
}
   