.footer {
    padding-top: 92px;
    display: flex;
    flex-direction: row;
    max-width: 1184px;
    padding-bottom: 24px;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #2A2C2F;
}
@media screen and (max-width:1024px) {
    .footer{
        max-width: 928px;
        padding-top: 42px;
    }
}
@media screen and (max-width:768px) {
    .footer{
        max-width: 720px;
        padding: 42px 24px 0px 24px;
    }
}
@media screen and (max-width: 580px) {
    .footer{
        width: 90%;
        min-height: 310px;
        flex-direction: column;
        padding-left: 16px;
    }

}

@media screen and (max-width:320px){
    .footer{
        max-width: 186px;
        padding: 64px 118px 24px 0;
    }
}
   