.place__url-heading {
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;   
}
@media screen and (max-width:768px) {
    .place__url-heading{ 
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 2px;
        color: #AAAAAA;
    }
}
@media screen and (max-width:320px) {
    .place__url-heading {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 2px;
        display: flex;
        flex-wrap: wrap;
    }
}