.lead__image{
    max-width: 100%;
    max-height: 615px;
    z-index: 1;
    padding-bottom: 8px;
}
@media screen and (max-width:1024px) {
    .lead__image{
        
        max-width: 928px;
        max-height: 580px;
    }
}
@media screen and (max-width:768px) {
    .lead__image{
        width: 768px;
        height: 480px;
        padding-left: 0;
        padding-right: 0px;
    }
    
}
@media screen and (max-width:320px) {
    .lead__image{
        padding-left: 0;
        padding-right: 0;
        width: 320px;
        height: 200px;
    }
    
}