.place__grid-paragraph {
    font-family: 'Inter';
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    display: grid;
    margin: 0;
    padding: 0;
    row-gap: 25px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;  
}
@media screen and (max-width:768px) {
    .place__grid-paragraph{
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        line-height: 1.63;
        margin: 0 auto;

    }   
}
@media screen and (max-width:320px) {
    .place__grid-paragraph{
        font-weight: 400;
        line-height: 1.63;
        font-size: 16px;
        min-width: 288px;
        margin: 0 16px;
        padding: 0;
    }

}