.lead__subtitle {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 64px;
    padding-left: 172px;
    padding-right: 172px;
    max-width: 640px;
    height: 72px;
    -moz-osx-font-smoothing: grayscale;  
    -webkit-font-smoothing: antialiased; 
}
@media screen and (max-width:1024px) {
    .lead__subtitle{
        padding: 32px 144px 56px 144px;
        text-align: center;
    }
}
@media screen and (max-width:768px) {
    .lead__subtitle{
        padding-right: 64px;
        padding-left: 64px;
    }
}
@media screen and (max-width:320px) {
    .lead__subtitle{
        max-width: 288px;
        max-height: 40px;
        padding: 16px 16px 40px 16px;
        font-size: 16px;
        line-height: 20px;
    }
}
