.cover__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: white;
    text-decoration: none;
    min-height: 740px;
    background-image: url(../../../images/cover-trains.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    box-sizing:border-box;
    z-index:0;
    font-family: 'Inter';
}
.cover__item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 3s;
    width: 100%;
    height: 100%;
}
.cover__item:hover::before{
    opacity: 0.8;
}
 

@media screen and (max-width:320px) {
    .cover__item{
        font-family: 'Inter';
        width: 320px;
        max-height: 200px;
        background-size: contain;
    }
}