.lead__title {
    font-family: 'Inter';
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 100px;
    
    margin: 56px auto 0;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
}
@media screen and (max-width:1024px) {
    .lead__title{
        margin-top: 48px;
    }

}
@media screen and (max-width:980px) {
    .lead__title{
        width: 90%;
        text-align: center;
    }
}
@media screen and (max-width:768px) {
    .lead__title{
        max-width: 720px;
        text-align: center;

    }
}

@media screen and (max-width:320px) {
    .lead__title{
        max-width: 288px;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }
}