.lead__title {
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 100px;
    padding: 0 132px;
    margin: 0;
    -moz-osx-font-smoothing: grayscale; 
    -webkit-font-smoothing: antialiased;
}
@media screen and (max-width:320px) {
    .lead__title{
        max-width: 288px;
        max-height: 88px;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        padding: 0px 16px 0px 16px;
        text-align: center;
    }
}