.intro__title {
    font-family: "Inter", "Arial ", sans-serif;
    margin-top: 92px;
    margin: 0;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    padding-bottom: 40px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}
@media screen and (max-width:1024px) {
    .intro__title{
        padding-bottom: 36px;
    }
}
@media screen and (max-width:320px) {
    .intro__title{
        max-width: 228px;
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 40px;
    }
}